@charset "UTF-8";
body {
    border-color: rgb(51, 48, 48);
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    border-radius: 10px rgb(73, 73, 209);
    }
body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }
header {
     position: relative;
    }
.menu-opcoes {
    position: absolute;
    bottom: 0;
    right: 0;
    }
.menu-opcoes ul {
    font-size: 15px;
    }
.menu-opcoes a {
    color: #137ee9;
    }
.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
    }
h1 {
    background-image: url('img/sobre-background.jpg');
    font-family: serif;
    }
h2 {
    font-family: sans-serif;
    }
p {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px 15px 5px;
}
figure {
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
    }
figcaption {
    font-style: italic;

    }
#centro-distribuicao {
        margin-left: auto;
        margin-right: auto;
        width: 550px;
    }  
 #rodape {
        color: #777;
        margin: 30px 0;
        padding: 30px 0;
    }
#rodape img {
        margin-right: 30px;
        vertical-align: middle;
        width: 94px;
    }
#familia-pelho {
        float: right;
        margin: 0 0 10px 10px;
     }
p:first-letter {
    font-weight: bold;
    }
h1 + p {
    text-indent: 0;
    }
p:first-line {
    font-variant: small-caps;
    }
footer {
    background-image: url('img/fundo-rodape.png');
    clear: both;
    padding: 20px 0;
    }
.social a {
            /* tamanho da imagem */
    height: 32px;
    width: 32px;
            /* image replacement */
    display: block;
    text-indent: -9999px;
               
    }
.social a[href*="facebook.com"] {
    background-image: url('img/facebook.png');
    }.social a[href*="twitter.com"] {
    background-image: url('img/twitter.png');
    }
.social a[href*="plus.google.com"] {
    background-image: url('img/googleplus.png');
    }
footer .container {
    position: relative;
    }
.social {
    position: absolute;
    top: 12px;
    right: 0;
    }
.social li {
    float: left;
    margin-left: 25px;
    }
    